@import 'variables';

h1 {
    padding-top: 17px;
    padding-bottom: 16px;
    padding-right: 26px;
    padding-left: 26px;
    border-bottom: solid 1px #00000012;
    font-family: $font-pop;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

h2 {
    font-family: $font-pop;
    font-size: 26px;
    line-height: 36px;
    padding-top: 36px;
    padding-right: 26px;
    padding-left: 26px;
}

.field {
    font-family: $font-pop;
    font-size: 18px;
    color: $text-base-color;
    padding-right: 26px;
    padding-left: 26px;

    input {
        background-color: #F4F4F4;
        border-radius: 10px;
        width: 100%;
        height: 40px;
        border: none;
        padding-top: 7px;
        margin-bottom: 33px;
    }

    label {
        padding-top: 33px;
    }
}

.actions {
    padding-right: 26px;
    padding-left: 26px;

    input {
        background-color: $primary-color;
        width: 100%;
        height: 40px;
        color: $base-bg-color;
        border: none;
        font-family: $font-pop;
        font-size: $font-lg;
        font-weight: 800;
        font-style: normal;
        margin-top: 200px;
    }
}



 
















// html {
//     word-spacing: 1px;
//     -ms-text-size-adjust: 100%;
//     -webkit-text-size-adjust: 100%;
//     -moz-osx-font-smoothing: grayscale;
//     -webkit-font-smoothing: antialiased;
//     box-sizing: border-box;
//     height: 100%;
// }
   
// }

// body {
//     background-color: $base-bg-color;
//     color: $text-base-color;
//     font-family: Avenir;
//     font-style: normal;
//     font-weight: normal;
//     font-size: $font-lg;
//     line-height: 25px;
// }

// .float_btn {
//     background-color: $primary-color;
// }

