@import 'variables';

.card {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 32px 16px 20px 17px;

    .card_top {
        display: flex;
        justify-content: space-between;

        .card_title {
            font-family: $font-pop;
            font-size: $font-lg;
            color: $text-base-color;
        }
    
        .card_edit {
            width: 24px;
            height: 6px;
        }
    }

    .card_description { 
        color: rgb(138, 138, 138);
        font-size: 14px;
        padding-top: 6px;
    }

    .card_creater {

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding-top: 29px;
        }
    }
    
}