@import 'variables';

.frame {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 0px 16px 20px 17px;

    .frame_image {
        padding-top: 20px;

        img {
            width: 100%;
            height: 170px;
            border-radius: 8px;
        }
    }

    .frame_top {
        display: flex;
        justify-content: space-between;

        .frame_title {
            font-family: $font-pop;
            font-size: $font-lg;
            color: $text-base-color;
            padding-top: 30px;
        }
    
        .frame_edit {
            width: 24px;
            height: 6px;
        }
    }

    .frame_description { 
        color: rgb(138, 138, 138);
        font-size: 14px;
        padding-top: 6px;
    }

    .frame_creater {

        img {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            margin-top: 29px;
        }
    }
    
}